{% extends 'appp/base.html' %}
{%load static%}

{%block title%} Profile {%endblock title%}

{%block main-content%}

<div class="container">
    <div class="row my-3">
        <div class="col-sm-6 offset-sm-3">
            <h3>Password Reset Successfully</h3>
            <hr>
        </div>
        
            <iframe src="https://cdn.dribbble.com/users/39201/screenshots/3694057/media/2a1b062114a8244102f67deeb89395fa.gif" width="600"
            height="600"  frameBorder="0"
            class="giphy-embed" allowfullscreen></iframe>
        </div>
       
    </div>
{%endblock main-content%}